.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    background-color: rgb(35, 109, 6);
    position: fixed;
    top: 0;
    width: 100%;
}

.nav li {
    float: left;
    font-size: 30;
}

.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
.nav li a:hover {
    background-color: rgba(204, 248, 9, 0.671);
}

